:root {
  --text-color: black;
  --primary-color: red;

  /*大侧边栏宽度*/
  --sider-width: 260px;
  /*小侧边栏的宽度*/
  --sider-small-width: 65px;
  /*侧边栏logo组件的高度*/
  --sider-logo-height: 60px;
  /*导航栏高度*/
  --header-height: 60px;
  /*1690px以上大屏模式主视图的宽度*/
  --main-width: 1430px;

  /*过渡时间*/
  --time-normal: .3s;
  --time-middle: .5s;
  --time-lower: 1s;

  /*阴影颜色*/
  --shadow-color: #ededed;
  /*边框颜色*/
  --border-color: #eee;
  /*遮罩层的颜色*/
  --mask-color: #000000b3;
  /*盒子1的背景颜色*/
  --box-bg-color-1: #fff;
  /*盒子1鼠标悬浮时的背景颜色*/
  --box-bg-color-hover-1: #f6f7fa;
  /*盒子2颜色*/
  --box-bg-color-2: #f6f7fa;
  /*盒子2鼠标悬浮时的背景颜色*/
  --box-bg-color-hover-2: #eaecf3;
  /*轮播图dot未被激活时的颜色*/
  --dot-not-acitve-color:#dadadd79;
  /*轮播图dot被激活时的颜色*/
  --dot-acitve-color:#cfcfcf;
}

* {
  text-decoration: none;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

/*清除组件库菜单的内置样式*/
/* .arco-menu-vertical .arco-menu-inner{
  padding: 0;
} */