:root {
  --text-color: black;
  --primary-color: red;

  /*大侧边栏高度*/
  --sider-width: 260px;
  /*侧边栏logo组件的高度*/
  --sider-logo-height: 60px;
  /*导航栏高度*/
  --header-height: 60px;

  /*过渡时间*/
  --time-normal:.3s;

  /*阴影颜色*/
  --shadow-color: #ededed;
  /*边框颜色*/
  --border-color: #eee;

  /*盒子颜色*/
  --box-bg-light:#f6f7fa;
  /*鼠标悬浮盒子颜色*/
  --box-bg-light-hover:#eaecf3;

}

.ml-10{
  margin-left: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mr-10{
  margin-right: 10px;
}
.mb-10{
  margin-bottom: 10px;
}

.ml-5{
  margin-left: 5px;
}
.mt-5{
  margin-top: 5px;
}
.mr-5{
  margin-right: 5px;
}
.mb-5{
  margin-bottom: 5px;
}
.ml-15{
  margin-left: 15px;
}
.mt-15{
  margin-top: 15px;
}
.mr-15{
  margin-right: 15px;
}
.mb-15{
  margin-bottom: 15px;
}

/*清除组件库菜单的内置样式*/
.arco-menu-vertical .arco-menu-inner{
  padding: 0;
}
